# Dependencias
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de entorno (¡MUY IMPORTANTE!)
.env
.env.*
!.env.example
.env.local

# Build de Vite
dist
.vite

# Archivos de Vercel
.vercel

# Sistema
.DS_Store
Thumbs.db
